<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Joias</title>
</head>
<body>
<form method="post" th:action="@{/doProcessSave}" th:object="${joia}" enctype="multipart/form-data">
<!--<form method="post" th:action="@{/doProcessSaveWithFile}" th:object="${joia}" enctype="multipart/form-data">-->
    Nome: <input type="text" th:field="*{nome}"/> <br />
    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color: red" />
    Valor: <input type="text" th:field="*{valor}"/> <br />
    Tipo: <input type="text" th:field="*{tipo}"/> <br />
    Pedras: <input type="text" th:field="*{pedras}"/> <br />
<!--    Imagem: <input type="file" name="file"/> <br />-->
    <button type="submit">Enviar</button>
</form>
</body>
</html>