<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/doProcessSave}" th:object="${joia}">
    id: <input type="text" th:field="*{id}" readonly="readonly" /> <br />
    Nome: <input type="text" th:field="*{nome}"/> <br />
    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
    Valor: <input type="text" th:field="*{valor}"/> <br />
    Tipo: <input type="text" th:field="*{tipo}"/> <br />
    Pedras: <input type="text" th:field="*{pedras}"/> <br />
    <button type="submit">Enviar</button>
</form>
</body>
</html>